body {
  margin: 0 !important;
}

.landing-section {
  width: 100vw;
  height: 100vh;

  /*background-image: url(../assets/images/long-exposure-of-city-street.jpg);*/
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-logo {
  width: 60%;
  margin-left: 20%;
  margin-top: 75px;
}

@media(max-width: 800px) {
  .landing-logo {
    width: 90%;
    margin-left: 5%;
    margin-top: 100px;
  }
}

.landing-video {
  height: 100%;
}

@media(max-width: 800px) {
  .landing-video {
    margin-left: -25%;
  }
}

/**********    Parallax    **********/
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: black;
}
.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  transform: translateZ(-.60px) scale(1.60);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}

/**********    About Section    **********/
.about-section {
  background-color: black;
  height: 400px;
  transform: translateZ(0px);
}

.about-image-container {
  float: left;
  width: 40%;
  height: 100%;

  /*background-color: orange;*/
}

.about-image {
  height: 100%;
  /*margin-top: 5%;*/
  /*margin-left: 5%;*/
}

@media(max-width: 800px) {
  .about-image-container {
    display: none;
  }

  .about-description {
    width: 100% !important;
  }
}

.about-description {
  float: right;
  width: 55%;
}

.about-description-text {
  color: white;
  font-size: 22px;
  line-height: 28px;
  height: 60%;

  margin-top: 15%;
}


/**********    Schedule Section    **********/
.schedule-section {
  height: 500px;
  background-image: url(../assets/images/blair-arch-at-night.jpg);
  background-size: cover;
}
