.section {
  width: 100%;
  height: 400px;
  background-color: black;
}

.image-divider {
  width: 100%;
  height: 300px;
  background-color: white;

  /*Background image properties*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Images */
.nassau-night-img {
  background-image: url(../assets/images/nassau-at-night.jpg);
}

.nassau-evening-img {
  background-image: url(../assets/images/nassau-evening.jpg);
}

.blair-img {
  background-image: url(../assets/images/blair-arch-at-night.jpg);
}

.woodrow-wilson-img {
  background-image: url(../assets/images/woodrow-wilson.jpg);
}

.chapel-img {
  background-image: url(../assets/images/princeton-university-chapel.jpg);
}

.studio-img {
  background-image: url(../assets/images/studio.jpg);
}
