body {
  position: absolute;
  margin: 0 !important;
  overflow-x: hidden;
  background-color: black;
  color: white;
}

.page-header {
  margin-top: 60px;
  width: 100%;
  height: 25vh;

  background-image: url(../assets/images/long-exposure-of-city-street.jpg);
  background-position: center;
  background-size: cover;
}

.page-header-title {
  width: 300px;
  padding: 10px;
  margin: auto;
  margin-top: 10%;
  border: 10px solid white;
  text-align: center;
  font-size: 72px;

  font-family: "Impact", Charcoal, sans-serif;
}

.video-grid {
  width: 100%;
}

a .video-block-link {
  color: white !important;
}

a: link {
  color: white !important;
}

a:visited {
  color: white !important;
}

a:hover {
  color: white !important;
}

.video-block {
  display: inline-block;
  border: 1px solid gray;
  position: relative;

  /*Width of each video block*/
  width: 30%;
  margin: 1.5%;
}

@media(max-width: 800px) {
  .video-block {
    width: 90%;
    margin: 5%;
  }
}

.video-thumbnail-img {
  width: 100%;
}

.video-description {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
}

.video-description {
  /*Sizing*/
  width: 90%;
  height: 80%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 10%;

  /*Font styling*/
  font-size: 17px;
  text-align: center;
  opacity: 0;
}

.description-hover {
  opacity: 1;
  -webkit-animation: fadeIn 500ms 1;
}

.video-fade {
  -webkit-filter: brightness(40%) blur(6px);
  filter: brightness(40%) blur(6px);

  -webkit-animation: videoFilter 200ms 1;
  animation: videoFilter 200ms 1;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes videoFilter {
  from {
    -webkit-filter: none;
    filter: none;
  }
  to {
    -webkit-filter: brightness(40%) blur(6px);
    filter: brightness(40%) blur(6px);
  }
}

@keyframes videoFilter {
  from {
    -webkit-filter: none;
    filter: none;
  }
  to {
    -webkit-filter: brightness(40%) blur(6px);
    filter: brightness(40%) blur(6px);
  }
}

/******  Main video section  ******/
.main-video-section {
  display: block;
  width: 100vw;
}

.main-video-frame {
  float: left;
  width: 40%;
}
