---
layout: default
title: "In the News - Princeton Tonight"
---

<div class="home">

  <h1 class="page-heading">In the News</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2 class="post-title">
          {% if post.link == null %}
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          {% else %}
            <a class="post-link" href="{{ post.link }}" target="_blank">{{ post.title }}</a>
          {% endif %}
        </h2>
          <p class="post-description">
             {{ post.description }}
          </p>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
