<header class="site-header">

  <!-- Background behind page links -->
  <div class="site-nav-background"></div>

  <div class="wrapper">

    <!-- Main Logo -->
    <a class="site-title" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/images/logo-sample-4.png" height="100%">
    </a>

    <!-- Page links -->
    <nav class="site-nav">
      <div class="page-link">
        <a href="{{ site.basurl }}">Home</a>
      </div>

      <div class="page-link">
        <a href="{{ site.basurl }}/episodes">Episodes</a>
      </div>

      <div class="page-link">
        <a href="{{ site.basurl }}/photos">Photos</a>
      </div>

      <div class="page-link">
        <a href="{{ site.basurl }}/guests">Guests</a>
      </div>

      <div class="page-link">
        <a href="{{ site.basurl }}/film-festival">Film Festival</a>
      </div>

      <div class="page-link">
        <a href="{{ site.basurl }}/events">Events</a>
      </div>

      <div class="page-link">
        <a href="{{ site.basurl }}/news">News</a>
      </div>

      <div class="page-link">
        <a href="{{ site.basurl }}/about">About</a>
      </div>

    </nav>

  </div>

</header>

<!-- Push main page below fixed header -->
<div class="site-header-placeholder">
</div>
