<header class="site-header">

  <div class="site-nav-background"></div>

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/images/logo-sample-4.png" height="100%">
    </a>

    <nav class="site-nav">
      <div class="page-link"><a href="#">Home</a></div>
      <div class="page-link"><a href="#">Episodes</a></div>
      <div class="page-link"><a href="#">Photos</a></div>
      <div class="page-link"><a href="#">Guests</a></div>
      <div class="page-link"><a href="#">Film Festival</a></div>
      <div class="page-link"><a href="#">Events</a></div>
      <div class="page-link"><a href="#">News</a></div>
      <div class="page-link"><a href="#">About</a></div>
    </nav>

  </div>

</header>
