<header class="site-header">

  <!-- Background behind page links -->
  <div class="site-nav-background"></div>

  <div class="site-nav-wrapper">

    <!-- Main Logo -->
    <a class="site-title" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/images/logo-sample-4.png" height="100%">
    </a>

    <!-- Page links -->
    <nav class="site-nav site-nav-wrapper">
      <div class="page-link">
        <a href="{{ site.basurl }}/">Home</a>
      </div>

      <div class="page-link">
        <a href="{{ site.basurl }}/episodes/">Episodes</a>
      </div>

      <div class="page-link">
        <a href="{{ site.basurl }}/photos/">Photos</a>
      </div>

      <div class="page-link">
        <a href="{{ site.basurl }}/guests/">Guests</a>
      </div>

      <div class="page-link">
        <a href="http://filmfestival.princetontonight.com" target="_blank">Film Festival</a>
      </div>

      <div class="page-link">
        <a href="{{ site.basurl }}/events/">Events</a>
      </div>

      <div class="page-link">
        <a href="{{ site.basurl }}/news/">News</a>
      </div>

      <div class="page-link">
        <a href="{{ site.basurl }}/about/">About</a>
      </div>

    </nav>

    <!-- Social Media Links -->
    <div class="header-social-media">
      <ul>
        <li><a href="https://facebook.com/princetontonight" title="Share on Facebook" target="_blank"><img alt="Share on Facebook" src="{{ site.baseurl }}/assets/social-media/Facebook.png" class="header-social-media-link"></a></li>
        <li><a href="https://twitter.com/ptontonight" target="_blank" title="Tweet"><img alt="Tweet" src="{{ site.baseurl }}/assets/social-media/Twitter.png" class="header-social-media-link"></a></li>
        <li><a href="mailto:rro@princeton.edu" target="_blank" title="Send email"><img alt="Send email" src="{{ site.baseurl }}/assets/social-media/Email.png" class="header-social-media-link"></a></li>
      </ul>
    </div>

  </div>

</header>

<!-- Push main page below fixed header -->
<div class="site-header-placeholder">
</div>
