.site-footer {
  background-image: url(./../assets/images/studio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  // Filter
  -webkit-filter: grayscale(0.5);
  filter: grayscale(0.5);
}

@keyframes scrollLeft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

.instafeed {
    animation: scrollLeft 45s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    a {
        display: inline-block;
        margin: 24px;
    }
}
