body {
  margin: 0 !important;
  overflow-x: hidden;
  background-color: black;
}

/* TODO: move the contents of this stylesheet to home.scss */

.landing {
  &-section {
    width: 100vw;
    height: -webkit-calc(100vh - #{$site-header-height});
    height:         calc(100vh - #{$site-header-height});

    overflow-y: hidden;

    background-image: url(../assets/images/long-exposure-of-city-street.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-video {
    width: 100%;
  }
}
