body {
  margin: 0 !important;
  overflow-x: hidden;
  background-color: black;
}

/* TODO: move the contents of this stylesheet to home.scss */

.landing {

  &-section {
    position: relative;
    width: 100vw;
    height: -webkit-calc(100vh - #{$site-header-height});
    height:         calc(100vh - #{$site-header-height});

    overflow-y: hidden;

    background-image: url(../assets/images/long-exposure-of-city-street.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-video {
    width: 100%;
    height: 100%;
    object-fit: cover; // Cover entire div
  }

  &-logo {
    position: absolute;
    top: 20%;
    width: 70%;
    left: 15%;
  }

  &-quick-info-section {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;

    &-content {
      width: 100%;
      padding: 24px;
      box-sizing: border-box;

      iframe {
          width: 100%;
          height: 300px;
      }
    }

    &-events {
        text-align: center;
    }
  }

  &-quick-title {
    width: 100%;
    text-align: center;
  }
}

.third-col {
  width: 33%;
  display: inline-block;
}

.border-right {
  border-right: 1px solid white;
}

.image-divider {
  position: relative;
  height: 400px;
  width: 100%;
}

.nassau-evening-img {
  background-image: url('../assets/images/nassau-evening.jpg'); // Background image
  background-position: center;
  background-size: cover;
}
